@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$dark-blue-efrei: #232c53;
$very-light-grey: #fafafa;
$light-blue: #c6ccee;
$medium-blue: #556297;
$dark-blue: #377fbc;
.bg-dark-blue-efrei {
	background-color: $dark-blue-efrei;
}

.dark-blue-efrei {
	color: $dark-blue-efrei;
}

.menu-icon:focus {
	background-color: $medium-blue;
}

.dropdown-menu {
	background-color: $dark-blue-efrei;
}
.dropdown-menu:hover {
	background-color: $medium-blue;
}

.bg-very-light-grey {
	background-color: $very-light-grey;
}
