# API configuration
NODE_ENV=dev
API_PORT=3000

# FRONTEND
WEBSITE_URL=http://localhost:5173

# SECURITY
COOKIE_SECRET=very_very_very_very_very_very_very_very_very_very_very_very_long_secret_key

JWT_ACCESS_SECRET=very_very_very_very_very_very_very_very_very_very_very_very_long_secret_key
JWT_ACCES_TOKEN_EXPIRATION_TIME=3600

JWT_REFRESH_SECRET=very_very_very_very_very_very_very_very_very_very_very_very_long_secret_key
JWT_REFRESH_TOKEN_EXPIRATION_TIME=86400

#ADMIN USER
ADMIN_MAIL=nathan.carlier@bds-efrei.fr
ADMIN_PASSWORD=password1234
ADMIN_FIRSTNAME=Nathan
ADMIN_LASTNAME=Carlier